@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

.circle {
  @apply flex w-[40px] h-[40px] bg-green-600 rounded-full;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-backdrop {
  background-color: #b3b5b799;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-body {
  padding: 0;
}

.modal-content {
  border-radius: 1rem;
  border: none;
}

.tags-input {
  @apply appearance-none px-3 py-2 mt-[7px] mb-[7px] placeholder-[#6B7280] text-[#030303]  placeholder-opacity-90 relative w-full bg-white rounded text-sm border-[1.5px]  focus:outline-none focus:border-[#2dc5a1] focus:border-2 transition duration-200  ease-in bg-transparent;
}

.autocomplete-options {
  @apply px-3 h-[2rem] flex items-center cursor-pointer font-medium text-sm hover:bg-gray-100;
}

.experience_button {
  @apply outline-none border-none py-[8px] px-[15px] font-semibold bg-[#01a2a4] rounded-[5px] text-[13.33px] cursor-pointer text-white;
}

.skill-tags {
  @apply flex justify-between items-center p-[5px] w-[fit-content] h-[fit-content] bg-[#eff2f6] rounded-[4px] mr-[14px] mb-[15px]  border-gray-400;
}

.tech-stack-section-head {
  @apply text-[14px] text-[#929cad] font-semibold pb-[20px];
}

.tech-stack-skill-name {
  @apply text-[13px] mr-[12px] leading-[18px] font-[400];
}

.tech-stack-yoe {
  @apply text-[12px] text-[#929cad] font-[500];
}

.tech-stack-logo {
  @apply mr-[5px] h-[1rem] w-[1rem] rounded-[0.5rem] bg-cover object-cover;
}
/* calendar input */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #0ea5e9;
}
